/* Modal container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content box */
.modalContent {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Close button */
.closeButton {
  position: absolute;
  margin-top: 0;
  right: 5px;
  background: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #e67e22;
  color: #e0e0e0;
}

/* Heading styles */
h2 {
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 40px;
}
ul li {
  color: #e0e0e0;
  font-size: 16px;
  margin: 10px;
}

/* Button container */
.buttonContainer {
  margin-top: 20px;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  background-color: #fc842d;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buttonContainer button:hover {
  background: #e67e22;
}
