.logoContainer {
  display: flex;
}

.logoIcon {
  display: block;
  margin: 20px;
}

.logoSlim,
.logoMom{
  display: inline-block;
  margin-left: -5;
}



/* Mobil */
@media (max-width: 768px) {
  .logoSlim,
  .logoMom {
    display: none;
  }
}
 
.logoIcon{
  margin: 0;
}

